/** Box and Background Colors **/
$primary-color: #0f1936;

$highlight-color: #186cdb;

$link-active-color: #09122f;

$bg-color: #f5f6fa;

$bg-highlight: #1a2c5f;


/** Font Colors **/

$color-title: #babbc2;

$color-title-block: #afb4c5;

$color-font-primary: $primary-color;

$color-font-secondary: #186cdb;

$color-font-highlight: #1dd9bf;

$color-font-error: #ff445b;



/** Card and Form Colors **/

$form-bg-color: #186cdb;

$border-color: #e8eaf2;

$border-radius: 6px;