.page {
  display: none;
}

h1.page-title {
  font-size: 32px;
  color: $color-title;
  margin: 20px 0px;
  padding-left: $content-left;
}

.page-subtitle {
  margin: 10px 0px 20px;
  padding-left: $content-left;
}
